h1{
	 font-family: Balsamiq Sans;
     text-align: center;
     font-size: 40px;
     background-color: lightyellow;
     color:darkblue;
     padding: 30px;
     border:double

     
 }
 h2{
 	font-family: Balsamiq Sans;
 	font-size: 26px;
 	text-align: center;
 	color:darkblue;


 }


 p{
 	font-family: Balsamiq Sans;
 	font-size: 26px;
 	margin-left: 20px;
 	margin-right: 20px;
 }
 img{
    width: 20%;
    height: 30%;
}
 footer{
 	background-color: black;
 	color: white;
 	font-size: 10px;
 	text-align: center;
 	padding: 5px;
 }
 header{
 	background-color: black;
 	color: white;
 	font-family: Balsamiq Sans;
 	font-size: 10px;
 	text-align: center;
 	padding: 5px;
 }
 ul{
 	list-style: none;
 	

 }
 li{
     display: inline;
     margin: 200px;


 }
 li a{
 	color: white;
 	text-decoration: none;
 	font-family: Balsamiq Sans;
 	font-size: 20px;
 }
 li a:hover {
 	color: red;
 	text-decoration: none;
 
 }